    <form method="POST" action="{% url 'auth' %}">
        {% csrf_token %}
        <div style="margin-bottom: 30px;">
            <label for="">Username</label>
            <input type="text" name="username" placeholder="Username" hx-post="{% url 'check-username' %}" hx-target="#username-error" hx-trigger="keyup" hx-swap="outerhtml" required autocomplete="off">
        </div>
    
        <div id="username-error"></div>
        
        <div style="margin-bottom: 30px;">
            <label for="">Password</label>
            <input type="password" name="password", placeholder="Password" required>
        </div>
        
        <button type="submit">Continue</button>
    
        <br>
    
        <a href="{% url 'play-as-guest' %}">Play as a guest</a>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </form>

    <style>
        #game-content {
            display: none;
        }
    </style>