{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <title>DevChallenge</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body hx-get="{% url 'check-auth-status' %}" hx-trigger="load" hx-target="#auth-overlay" hx-swap="innerHTML">

    <!-- Authentication Check -->
    <div id="auth-overlay" class="wrapper"></div>

    <!-- Countdown (Hidden Initially) -->
    <div id="countdown-overlay" style="display: none;">
        <h1 id="countdown-text">3</h1>
    </div>

    <!-- Game Content (Hidden Initially) -->
    <div id="game-content" style="display: none;">
        <div id="timer">Time Left: <span id="time-left">60</span>s</div>
        <div id="game-result"></div>

        <form id="game-form" hx-post="{% url 'check_answer' %}" hx-target="#logo-container" hx-swap="innerHTML" onsubmit="jsclick();">
            <h1>Guess the Programming Language</h1>
            {% csrf_token %}
            <div id="logo-container" hx-get="{% url 'logo_partial' %}" hx-trigger="load">
                {% include 'game/partials/logo_partial.html' %}
            </div>
            <input type="text" name="answer" id="answer" class="input-box" autocomplete="off" required>
        </form>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
