{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/leaderboard.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <title>DevChallenge | 🏆 Leaderboard 🏆</title>
    <button class="play-again-btn" onclick="window.location.href='/'">
        <i class="fas fa-redo"></i> Play Again
    </button>
    
    <div class="leaderboard">
        <h2>🏆 Leaderboard 🏆</h2>

        

        <div class="leaderboard-grid">
            <div class="leaderboard-header">
                <span><i class="fas fa-trophy"></i> Rank</span>
                <span><i class="fas fa-user"></i> Username</span>
                <span><i class="fas fa-star"></i> Score</span>
                <span><i class="fas fa-fire"></i> Max Streak</span>
                <span><i class="fas fa-chart-line"></i> Total Score</span>
            </div>
    
            {% for player in players %}
            <div class="leaderboard-row {% if forloop.counter == 1 %}gold{% elif forloop.counter == 2 %}silver{% elif forloop.counter == 3 %}bronze{% endif %}">
                <span>
                    {% if forloop.counter == 1 %}
                        <i class="fas fa-trophy gold-icon"></i>
                    {% elif forloop.counter == 2 %}
                        <i class="fas fa-trophy silver-icon"></i>
                    {% elif forloop.counter == 3 %}
                        <i class="fas fa-trophy bronze-icon"></i>
                    {% else %}
                        {{ forloop.counter }}
                    {% endif %}
                </span>
                <span>{{ player.username }}</span>
                <span>{{ player.score }}</span>
                <span>{{ player.max_streak }}</span>
                <span>{{ player.total_score }}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>